<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactName</key>
	<string>Padraic Renaghan</string>
	<key>description</key>
	<string>Integration with task manager Things.</string>
	<key>name</key>
	<string>Things</string>
	<key>uuid</key>
	<string>EB481FB8-320F-4606-82F0-355DF8A3D451</string>
</dict>
</plist>
